<html lang="en">
  <%- include("./partials/head") %>
<body>
  <%- include("./partials/nav") %>
  <div>
    <h2 class = "about content">About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate corporis, fugit ratione minus nam, quod deleniti provident nulla nihil impedit labore, quasi enim sed nemo dicta voluptas. Tenetur, tempora?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate corporis, fugit ratione minus nam, quod deleniti provident nulla nihil impedit labore, quasi enim sed nemo dicta voluptas. Tenetur, tempora?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate corporis, fugit ratione minus nam, quod deleniti provident nulla nihil impedit labore, quasi enim sed nemo dicta voluptas. Tenetur, tempora?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate corporis, fugit ratione minus nam, quod deleniti provident nulla nihil impedit labore, quasi enim sed nemo dicta voluptas. Tenetur, tempora?</p>
  </div>
</body>
<%- include("./partials/footer") %>
</html>